html {
    scroll-behavior: smooth;
}

.grid{
    color: #0f0f0f;
}

.nav{
    background-color: blue;
}

.body{
    background-color: #5f5f5f;
    margin-top: 100px;
    min-height: 800px;
    display: grid;
    grid-template-columns: 12% 88%;
    grid-template-rows: auto;
}

.categorias{
    background-color: #000;
    padding: 20px;
    color: #fff;
}

.cat_title{
    font-size: 26px;
    margin: 0;
    font-family: Anta;
}

.cat_list{
    font-family: sans-serif;
    margin: 0;
    margin-top: 20px;
}

.cat_list li{
    display: flex;
    margin: 5px;
}

.shop{
    background-color: #B00000;
    padding: 35px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: wrap;
}

.box{
    background-color: #e0e0e0;
    height: 35%;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: 20px 10px;
    border-radius: 10px;
    justify-content: space-around;
}

.content{
    width: 250px;
    height: 200px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 5px #0001;
    cursor: pointer;
}

.box_title{
    font-family: Anta;
    font-size: 24px;
    margin: 0;
}

.description{
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    width: 90%;
}

.price{
    font-family: sans-serif;
    font-size: 26px;
    color: #FC0;
    text-shadow:
    0px 0px 2px #000,
    0px 0px 2px #000,
    0px 0px 2px #000;
    margin: 0;
}

.buybutton{
    margin: 0;
    font-family: cloister;
    background-color: #00000099;
    width: 320px;
    border: none;
    font-size: 30px;
    color: #B00000;
    text-shadow:
    0px 0px 2px #FFF,
    0px 0px 2px #FFF,
    0px 0px 2px #FFF;
    transition: text-shadow 0.2s ease-in-out;
}

.buybutton:hover{
    text-shadow:
    0px 0px 2px #FFF,
    0px 0px 2px #FFF,
    0px 0px 2px #FFF,
    0px 0px 5px #FC0;
    cursor: pointer;
}