.history {
    background-image: url(../../assets/blurvt.jpg);
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
    background-color: rgb(0, 0, 0);
    background-blend-mode: exclusion;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historia {
    text-align: justify;
    color: white;
    margin: 0px 7%;
    padding: 0.5% 0;
    background: radial-gradient(#000E 50%,#0003);
    border: 1px solid transparent;
    border-radius: 20px;
}

.hist_txt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    text-shadow: 2px 2px rgb(0, 0, 0);
    font-size: 14px;
}

.esc {
    margin: 8% 0 8% 0;
    width: 40%;
    filter: drop-shadow(8px 8px 2.8px #000);
}

.firma {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: right;
    margin: 50px 0 35px 0;
    padding-right: 1%;
}